body {
    background: #004681;
}
h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 60px;
	line-height: 1.2em;
	color: white
}
h2
{
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
	color:white
}
li {
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
}
.picButton {
	-moz-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	-webkit-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	box-shadow:inset 8px -10px 5px #7F8C8D  ;
	background-color: #E5E8E8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #424949;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size: 60px;
	font-weight: bold;
	width: 46vw;
	height: 28vh;
	text-decoration:none;
	background-size:auto 22vh;
	background-repeat: no-repeat;
	background-position: 16px 16px;
	margin: 0;
	margin-bottom: 5px;
	padding-left: 26vh;
	text-align: left;
	outline: none;
}
