body {
  background: #EAEAEA;
}
body {
  height: 0;
}

.main {
  display: block;
  width: 100vw;
  margin: 0 auto;
  margin-top: 15vh;
  margin-left: 5vw;
  display: none;
}

.leftbox {
  width: 45%;
  margin-right: 15%;
  margin-top: 0;
  float: left;
}

.rightbox {
  height: 45%;
  margin-top: 10%;
  display: block;
}
.contentbox {
  display: block;
  height: 16vh;
  margin-top: 1vh;
}
.toggle_button {
  position: relative;
  vertical-align: middle;
  height: 12vh;
  margin-top: 2vh;
}

.label {
  position: relative;
  top: 20px;
  font-family: 'DINRegular';
  font-size: 38px;
}

.save_button {
  width: 10vw;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 130px;
}
.speaker {
  width: 15%;
  margin-right: 1%;
  margin-bottom: 3%;
}
.bar {
  background: darkgray;
  border-radius: 10px;
  border: 2px solid black;
  width: 2%;
  height: 30vh;
  margin: auto 0.1em;
  display: inline-block;

}
.filled {
  background-color: #FFFFFF;
}
